.footer-container {
    background-color: #60a069; /* Color verde agradable */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-button {
    background-color: white;
    color: #3a6f41; /* Color verde del fondo */
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #f1f1f1;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-right {
    margin-left: auto;
    color: white;
}
