.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A148C; /* Púrpura oscuro */
    padding: 15px 30px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 1.5em;
    font-weight: bold;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: #1DE9B6; /* Verde claro */
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
