/* HistorialConsultas.css */
.historial-consultas {
  padding: 25px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    max-width: 1200px;
    margin: 0 auto;
}

/* Encabezados */
.historial-consultas h2,
.historial-consultas h3 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.input-container-historial {
  position: relative;
  display: inline-block;
}

.input-container-historial input {
  padding-right: 30px; /* Espacio para el ícono */
}

.icono-lupa {
  position: absolute;
    top: 62%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
    pointer-events: none;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente */
  gap: 10px; /* Espaciado entre los elementos */
  width: 100%; /* Espaciado entre las filas */
}

.filtros input {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  width: auto;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
.filtros input:focus {
  outline: none;
  border-color: #6c63ff;
}


.select-filtros:focus {
  outline: none;
  border-color: #6c63ff;
}

.select-filtros {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  width: auto;
  height: auto;
  cursor: pointer;
  margin-top: 10px;
}

.filtros label {
  font-size: 16px;
  font-weight: 500; /* Un poco más grueso que normal */
  font-family: 'Inter', sans-serif;
  color: #333;
  margin-top: 20px;
  margin-right: 5px;
}

/* Botón de reporte */
.historial-consultas button {
  background-color: #6e55e0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10PX;
}

.historial-consultas button:hover {
  background-color: #5842c3;
}

/* Estilos generales de la tabla */
.historial-consultas table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.historial-consultas th {
    background-color: #f4f4ff;
    color: #4e4ab7;
    font-weight: 600;
    text-align: left;
    padding: 12px 15px;
    font-size: 0.9rem;
}

.historial-consultas td {
    padding: 12px 15px;
    border-bottom: 1px solid #e9ecef;
    font-size: 0.95rem;
}

.historial-consultas tr:hover {
    background-color: #f8f9fa;
}

/* Última fila sin borde */
.historial-consultas tr:last-child td {
    border-bottom: none;
}