/* HistorialConsultas.css */
.historial-consultas {
  padding: 20px;
}

.historial-consultas h2 {
  text-align: center;
  font-size: 24px;
}
.historial-consultas h3 {
  text-align: left;
  color: #392682;
  font-size: 20px;
}

.filtros {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filtros input {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  width: auto;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
}

.filtros select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  width: auto;
  height: auto;
  cursor: pointer;
  margin-top: 10px;
}

.select-filtros:focus {
  outline: none;
  border-color: #6c63ff;
}

.filtros label {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  margin-top: 20px;
  margin-right: -15px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}
