.reservas-container {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}

.reservas-list {
    list-style-type: none;
    padding: 0;
}

.reservas-list li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reservas-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.reserva-info {
    display: flex;
    align-items: center;
    margin-bottom: -17px; /* Casi eliminar el espaciado entre líneas */
}

.reserva-info p {
    font-size: 1.1em; /* Reducir el tamaño de la fuente un poco más */
    color: #555;
    margin-left: 10px;
}

/* Estilos de los íconos */
.icono-doctor {
    font-size: 1.4em;
    color: #4CAF50;
}

.icono-calendario {
    font-size: 1.4em;
    color: #FF9800;
}

.icono-reloj {
    font-size: 1.4em;
    color: #2196F3;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.reservas-list button {
    padding: 7px 10px; /* Reducir el tamaño del botón */
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    /*font-size: 0.97em; /* Reducir tamaño de la fuente en los botones */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservas-list button:last-child {
    background-color: #FF4C4C;
    color: white;
}

.reservas-list button:last-child:hover {
    background-color: #ff3333;
}

.reservas-list button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.divider {
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

.fila-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.consulta-id {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: normal;
}

.icono-id {
    margin-right: 5px;
    color: #21318d; /* Verde consistente con los colores del diseño */
    font-size: 18px;
    margin-left: 5px;
}

.estado-consulta {
    display: flex;
    justify-content: flex-end;
}

.estado-label {
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
}

.estado-label.pendiente {
    color: #FFA500; /* Naranja */
    background-color: #FFF5E5; /* Fondo suave */
}

.estado-label.realizada {
    color: #008000; /* Verde */
    background-color: #E5FFE5; /* Fondo suave */
}

.descarga-receta {
    margin-top: 10px;
    text-align: right;
}

.descarga-receta a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #4CAF50; /* Verde acorde a tu estilo */
    font-weight: bold;
    margin-top: -10px;
}

.icono-descarga {
    margin-right: 5px;
    margin-top: -5px;
}

.descarga-pdf {
    margin-top: 10px;
}

.descarga-pdf a {
    display: flex;
    align-items: center;
    color: #1559a1;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 2px;
}

.descarga-pdf a:hover {
    text-decoration: underline;
}

.icono-descarga-pdf {
    margin-right: 10px;
    width: 17px;
    height: 17px;
}

