/* Mantén el contenedor del formulario a 600px de ancho */
.container {
    max-width: 600px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible hasta 600px */
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título del formulario */
h2 {
    color: #4CAF50; /* Verde */
    text-align: center;
    margin-bottom: 20px;
}

/* Grupos de formulario */
.form-group {
    gap: 15px;
}

/* Etiquetas del formulario */
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #6A1B9A; /* Púrpura */
}

/* Campos de entrada del formulario */
.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botón del formulario */
.btn {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100%;
}

.btn:hover {
    background-color: #45a049;
}

/* Estilos globales */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;    /* Centra el contenido verticalmente */
}

/* Ajusta el Footer para que esté siempre en la parte inferior */
footer {
    margin-top: auto;
}
