/* Contenedor principal */
.verify-email-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    font-family: 'Arial', sans-serif;

    /* Centrar el contenedor */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    min-height: 00px; /* Altura mínima para mejor proporción */
}

.verify-email-container h2 {
    color: #28ADA8;
    margin-bottom: 20px;
    margin-top: 7px;
}

/* Estilos del mensaje */
.message {
    font-size: 17px; /* Tamaño de fuente ligeramente mayor */
    font-weight: bold;
    margin-top: 5px;
}

.message.success {
    color: #4CAF50; /* Texto verde para éxito */
}

.message.error {
    color: #f44336; /* Texto rojo para error */
    
}

/* Media Queries */
@media (max-width: 768px) {
    .verify-email-container {
        max-width: 90%;
        margin: 0;
        padding: 15px;
        border: 1px solid #f5f5f5; /* Color del fondo para el borde */
    }
}

@media (max-width: 480px) {
    .verify-email-container {
        max-width: 95%;
        margin: 0;
        padding: 10px;
        border: 1px solid #f5f5f5; /* Color del fondo para el borde */
    }
}
